body
{
    margin: 0 auto 25px;
    position: relative;
    width: 30em;
}

h1
{
}

h2
{
    margin: 20px 0 0 0;
}

a:hover, .source-url a:hover
{
    color: #EE0000;
}

.slide
{
/*    display: none; */
}

.source-url a
{
    color: rgb(6, 105, 6);
}

.project
{
}

.project .title span
{
}

/*
.project .title .active
{
    background-color: #e3e2e2;
}

.project .title .active span, .project .title:hover span
{
    border-bottom: none;
}
*/

.source-url
{
    font-family: monospace;
}
