h1
{
    text-align: center;
}

h2
{
    text-align: center;
    margin: 5px 0 5px 0;
}

.slide
{
    display: none;
    text-align: center;
}

.project .title span
{
    border-bottom: dotted 1px;
}

.project .title:hover
{
    background-color: #e3e2e2;
    cursor: pointer;
}

.project .title .active
{
    background-color: #e3e2e2;
}

.project .title .active span, .project .title:hover span
{
    border-bottom: none;
}
