body
{
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 20em;
}

h1
{
    text-align: center;
}

h2
{
    text-align: center;
    margin: 5px 0 5px 0;
}

.slide
{
/*    display: none; */
}

.project
{
}

.project .title span
{
    border-bottom: dotted 1px;
}

.project :hover
{
    background-color: #e3e2e2;
}
/*
.project .title .active
{
    background-color: #e3e2e2;
}

.project .title .active span, .project .title:hover span
{
    border-bottom: none;
}
*/

.source-url
{
    font-family: monospace;
}
